/* Index */

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.447);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    display: flex;
    z-index: 100000;
}

body {
    background-color: black;
}

main {
    background: radial-gradient(circle at 48% 8%, rgb(120, 120, 120) 0%, rgba(0, 0, 0, 0.5) 20%);
}

footer {
    width: 100%;
    position: absolute;
    bottom: 1;
    left: 0;
    background: radial-gradient(circle at 48% 3%, rgb(120, 120, 120) 0%, rgb(0, 0, 0) 20%);
    color: white;
    padding: 50px 0px 30px 0px;
    font-size: 13px;
    font-family: "Sora", sans-serif;
}

nav {
    color: white;
    font-size: 20px;
    font-family: "Sora", sans-serif;
    display: flex;
    position: absolute;
    left: 16%;
}

a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

header.scrolled {
    border-bottom: 2px solid white; /* Línea blanca que aparece al hacer scroll */
}

h2 {
    color: white;
    text-align: Center;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
}

h3 {
    color: white;
    font-size: 30px;
    text-align: Center;
    font-family: "Roboto", sans-serif;
    margin-top: 3%;
}

h4 {
    color: white;
    text-align: Center;
    font-family: "Roboto", sans-serif;
    margin-top: 3%;
    font-size: 20px;
}

h5 {
    font-size: 15px;
}

h6 {
    color: white;
    text-align: left;
    padding-left: 17%;
    margin: 10px 0;
}

.h4about {
    color: white;
    text-align: Center;
    font-family: "Roboto", sans-serif;
    margin-top: 3%;
    font-size: 25px;
}

#contenedorNoticias{
    padding: 50px 0;
}

#navegacion {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Presentacion {
    background-image: url(assets/images/portada.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#DescargarMasinfo {
    list-style: none;
    position: absolute;
    bottom: 22%;
    left: 8%;
    display: flex;
}

#Descargar, #Masinfo {
    display: block;
    text-decoration: none;
    border-radius: 35px;
    padding: 13px 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Sora", sans-serif;
}

#Descargar {
    color: black;
    background: white;
    border: white solid 5px;
}

#Masinfo {
    color: rgb(255, 255, 255);
    border: white solid 3px;
}

#ContenedorDeNoticias {
    overflow: auto;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#noticias, #About {
    padding-left: 5%;
    width: 80%;
    margin: 50px;
    height: auto;
    color: white;
    text-align: center;
}

#selecfooter {
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: center;
    margin-top: 3%;
}

#redes {
    width: 40%;
    display: flex;
    flex-direction: column;
}

#copyright {
    width: 90%;
    padding-left: 3%;
    text-align: center;
}

#textocopyright {
    color: rgba(255, 255, 255, 0.615);
    font-size: 13px;
    font-family: "Sora", sans-serif;
    text-align: center;
}

#logo {
    width: 200px;
    height: auto;
    margin: 0 auto;
}

#pegi {
    width: 50px;
    height: auto;
    margin: 0 auto;
}

#logofoot  {
    width: 150px;
    height: auto;
}

#contacto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1x solid white;
    margin-bottom: 30px;
}

#emailfooter {
    background: none;
    border: none;
    outline: none;
    color: white;
}

#colredes {
    margin-left: 100px;
}

.borde{
    padding: 10px 10%;
}

.area_noticia{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.tarjeta {
    width: 100%;
    height: 100%;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}

.imagennoticia{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.parrafonoticia{
    color: white;
    font-size: 16px;
    font-family: "Sora", sans-serif;
    padding-top: 10px;
}

.overlay {
	width: 100%;
	height: 0;
	background: linear-gradient(transparent,#1c1c1c 58%);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
    backdrop-filter: blur(10px);
}

.tarjeta:hover img{
    transform: scale(1.1);
}

.tarjeta:hover .overlay{
    height: 100%;
}

.Iconsheader {
    text-decoration: none;
}

.infojuego {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    gap: 20px;
}

.mid:hover {
    font-weight: bold;
}

.linkRed {
    margin: 10px;
}

.TC, .Tf {
    text-decoration: none;
    color: white;
    color: rgba(255, 255, 255, 0.615);
}

.fecha{
    font-family: "Sora", sans-serif;
    font-size: 13px;
    padding-left: 10px;
}

.imgabout {
    margin-top: 5%;
    width: 100%;
    height: auto;
    grid-column: 2;
    grid-row: 1;
}

.textabout {
    display: grid;
    justify-items: center; /* Centrar todos los elementos horizontalmente */
    align-items: center;   /* Centrar todos los elementos verticalmente */
    grid-column: 1;
    grid-row: 1;
}

.parrafoabout{
    color: white;
    font-size: 20px;
    font-family: "Sora", sans-serif;
    padding: 5%;
}

.imgabout2 {
    margin-top: 5%;
    width: 100%;
    height: auto;
    grid-column: 1;
    grid-row: 1;
}

.textabout2 {
    grid-column: 2;
    grid-row: 1;
}

.parrafoabout2 {
    color: white;
    font-size: 20px;
    font-family: "Sora", sans-serif;
    padding: 5%;
    grid-column: 2;
    grid-row: 1;
}

.icons {
    width: 25px;
}

.icons:hover {
    width: 27px;
}

.Iconsheader {
    display: flex;
    position: absolute;
    left: 110%;
    margin-top: 1%;
}   

.plataformas , .redes {
    list-style: none;
    margin-bottom: 12px;
}

.fila {
    width: 85%;
    margin-left: 160px;
    display: flex;
    justify-content: center;
    align-items: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
    align-items: center; /* Alinea los elementos al centro si es necesario */
}

.iconemail {
    width: 20px;
    height: auto;
}

.mid , .iconmid , #Descargar , #Masinfo  {
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.iconmid {
    margin-left: 60px;
}

/* Login */

label,input{
    display: inline-block;
    width: 90%;
    height: auto;
    font-family: "Sora", sans-serif;
    background-color: rgba(0, 0, 0, 0);
}

input{
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 5%;
    width: 100%;
    height: 40px;
    color: white;
    padding-left: 10%;
}

#BotonLR{
    width: 70%;
    margin-top: 6%;
    margin-bottom: 3%;
    font-family: "Sora", sans-serif;
    font-size: 15px;
    font-weight: bold;
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.629));
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 15%;
}

#boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Usu, #Email, #Contra, #NombreApellido {
    padding-bottom: 7%;
}

#fondologin{
    background-color: rgba(0, 0, 0, 0.384);
    margin-top: 3%;
    width: 50%;
    height: 600px;
    max-height: 870px;
    color: white;
    font-family: "Sora", sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ErrorUsuario , #ErrorContrasenia,  #ErrorEmail , #ErrorName , #ErrorDireccion, #ErrorCiudad, #ErrorCodigop, #ErrorTitular, #ErrorNt, #ErrorFdC, #ErrorCdS  {
    color: red;
    font-size: 13px;
    display: none;
    margin: 10px;
}

#formulario{    
    width: 60%;
    height: auto;
    padding-bottom: 30px;
    margin: 20px;
}

#Mainlogin {
    background-image: url(assets/images/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 700px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.OpcionesIS {
    display: inline-block;
    margin: 3%;
    font-size: 15px;
    justify-content: center;
}

/* Registrarse */

#MainRegister {
    background-image: url(assets/images/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    max-height: 860px;
    justify-content: center;
    align-items: center;
    position: relative;
}

#fondoRegistro {
    background-color: rgba(0, 0, 0, 0.547);
    margin-top: 3%;
    width: 50%;
    height: 860px;
    color: white;
    font-family: "Sora", sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Extra */

#Presentacion2 {
    background-image: url(/assets/images/fondo2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Sistema de compra */

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  max-width: 300vh;
  background-image: url(assets/images/fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
}

.container form{
  padding:20px;
  width: 700px;
  background: #00000091;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container form .row .col2{
  flex:250px;
}

.container form .row .col2 .title{
  font-size: 20px;
  color:#ffffff;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col2 .SystemPayment{
  margin:15px 0;
}

.container form .row .col2 .SystemPayment input, select{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

input, label{
  color: rgb(255, 255, 255);
}

.container form .row .col2 .SystemPayment input:focus{
  border:1px solid #000;
}

.container form .row .col2 .flex{
  display: flex;
  align-items: center;
  gap:15px;
}

.container form .row .col2 .flex .SystemPayment{
  margin-top: 5px;
}

.container form .row .col2 .SystemPayment img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form #BotonPago{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #27ae60;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form #BotonPago:hover{
  background: #2ecc71;
}
